*{
 margin-top: 2rem;
 justify-content: center;
}
.listaProductos{
    display: flex;
    flex-direction: column;
}
.listaCompras{
    display: flex;
    margin: 10% 4%;
    padding: 1em;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(219, 219, 219, 0.829);
    box-shadow: 0px 0px 4px black;
    width: 15%;
}
.btnConfirmar{
    background-color: rgb(248, 76, 46);
    color: white;
    width: 40%;
    margin: 0 30% 10%;
    border-radius: 10px;
}
