<div>
  <nav class="navbar navbar-dark bg-dark">
    <!-- Navbar content -->
    <div class="logo">
    <a class="navbar-brand title" href="#">
      {{ title }}  </a>
      <img src="/assets/img/maracas.png" alt="" srcset="">
    </div>
    <div class="nav" id="navbarNavDropdown">
      <ul class="nav">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/']"
            >Home<span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/about']">About</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" [routerLink]="['/products']">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/cart']">Cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contact']">Contact</a>
        </li>
      </ul>
    </div>

    <audio class="audio" src="/assets/audio/demo.mp3" autoplay controls></audio>
  
  </nav>
  
<div class="contenedor">
  <router-outlet></router-outlet>
</div>

</div>
<footer>
  <h3 class="title">{{ title }} <img src="/assets/img/maracas.png" alt="" srcset=""> - 2020 ®</h3>
</footer>
