<div>
  <nav class="navbar navbar-dark bg-dark">
    <!-- Navbar content -->

    <a class="navbar-brand" href="#">{{ title }}</a>
    <div class="nav" id="navbarNavDropdown">
      <ul class="nav">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/']"
            >Home<span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/about']">About</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" [routerLink]="['/products']">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/cart']">Cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/masterClass']">MasterClass</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contact']">Contact</a>
        </li>
      </ul>
    </div>
    <form class="form-inline">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
  </nav>
  
<div class="container">
  <router-outlet></router-outlet>
</div>

</div>
<footer>
  <h3>{{ title }} - 2020 ®</h3>
</footer>
