/* Add application styles & imports to this file! *//* You can add global styles to this file, and also import other style files */
h1{
    color: blue;
}
footer {
    background-color: rgb(24, 23, 23);
    color: aliceblue;
    display: flex;
    justify-content: center;
    padding: 1em 0;
  }